.listNone{
    list-style: none;
    margin-left: 0;
}
.anchorNone{
    text-decoration: none;
    color: black;
}

.inlineBlock{
    display:inline-block;
}

.li:hover{
    background-color: #dee2e6;
}