<div class="p-3">
  <div class="modal-header pb-3">
    <h4>Change password</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.close()"
    ></button>
  </div>

  <!-- <div class="text-center"><app-loading *ngIf="isLoading"></app-loading></div>
  <app-error
    [errorMsg]="displayMessage"
    [isError]="isError"
    (remove)="this.activeModal.close()"
    *ngIf="displayMessage"
  ></app-error> -->

  <!-- *ngIf="!isLoading && !isError" -->
  <div class="modal-body">
    <form [formGroup]="this.passwordForm" (ngSubmit)="onSubmit()">
      <!-- <div class="row justify-content-between p-4"> -->
      <div class="form-group pb-2 pt-3">
        <label for="old-pass">Old Password</label>
        <input
          class="form-control py-1 redBorder"
          id="old-pass"
          type="password"
          formControlName="oldPassword"
          pattern="(?=^.{6,10}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$"
        />
        <span
          *ngIf="
            !passwordForm.get('oldPassword').valid &&
            passwordForm.get('oldPassword').touched
          "
          class="form-text text-muted"
        >
          <span *ngIf="passwordForm.get('oldPassword').errors.required"
            >This field is required.</span
          >
          <span *ngIf="passwordForm.get('oldPassword').errors.pattern"
            >Should include one Uppercase, lowercase, number and special
            character. Length 6-10</span
          >
        </span>
      </div>
      <div class="form-group py-2">
        <label for="new-pass">New Password</label>
        <input
          class="form-control py-1 redBorder"
          id="new-pass"
          type="password"
          formControlName="newPassword"
          pattern="(?=^.{6,10}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$"
        />
        <span
          *ngIf="
            !passwordForm.get('newPassword').valid &&
            passwordForm.get('newPassword').touched
          "
          class="form-text text-muted"
        >
          <span *ngIf="passwordForm.get('newPassword').errors.required"
            >This field is required.</span
          >
          <span *ngIf="passwordForm.get('newPassword').errors.pattern"
            >Should include one Uppercase, lowercase, number and special
            character. Length 6-10</span
          >
        </span>
      </div>
      <div class="form-group pt-2 pb-3">
        <label for="con-pass">Confirm New Password</label>
        <input
          [ngClass]="{
            redB:
              passwordForm.get('confirmNewPassword').touched &&
              this.passwordForm.value.newPassword !==
                this.passwordForm.value.confirmNewPassword
          }"
          class="form-control py-1 redBorder"
          id="con-pass"
          type="password"
          formControlName="confirmNewPassword"
          pattern="(?=^.{6,10}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$"
        />
        <span
          *ngIf="
            !passwordForm.get('confirmNewPassword').valid &&
            passwordForm.get('confirmNewPassword').touched
          "
          class="form-text text-muted"
        >
          <span *ngIf="passwordForm.get('confirmNewPassword').errors.required"
            >This field is required.</span
          >
          <span *ngIf="passwordForm.get('confirmNewPassword').errors.pattern"
            >Should include one Uppercase, lowercase, number and special
            character. Length 6-10</span
          >
        </span>
        <span
          class="form-text text-muted"
          *ngIf="
            passwordForm.get('confirmNewPassword').valid &&
            passwordForm.get('confirmNewPassword').touched &&
            this.passwordForm.value.newPassword !==
              this.passwordForm.value.confirmNewPassword
          "
          >Passwords do not match.</span
        >
      </div>
      <!-- </div> -->
      <!-- </div> -->

      <div class="modal-footer pt-3">
        <button
          type="submit"
          ngbAutofocus
          class="btn btn-outline-success px-2 py-1 me-1"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
