<!-- grid me gh cards me nje button per rooms -->
<div class="container mx-auto">
  <h2 class="text-center pt-4">
    {{
      this.numBeds
        ? "Welcome to your search results"
        : "Welcome to our humble business"
    }}
  </h2>

  <div class="py-4">
    <div class="text-center"><app-loading *ngIf="isLoading"></app-loading></div>
    <app-error
      [errorMsg]="errorMessage"
      [isError]="true"
      (remove)="errorMessage = null"
      *ngIf="errorMessage"
    ></app-error>

    <div
      class="grid-container px-1"
      *ngIf="!isLoading && !errorMessage && this.guestHouses?.length"
    >
      <div class="card animation" *ngFor="let gh of this.guestHouses">
        <img
          [src]="'../../../assets/photos/' + gh.img"
          class="card-img-top h-70"
          alt="..."
        />
        <div
          class="card-body px-2 py-3 text-center d-flex flex-column justify-content-between"
        >
          <div>
            <h5 class="card-title">{{ gh.name | uppercase }}</h5>
            <p class="card-text py-2 card-text">
              {{ gh.description }}
            </p>
          </div>
          <a
            [routerLink]="[
              '/client/guestHousesCards/roomsCards',
              gh.id,
              gh.name
            ]"
            queryParamsHandling="merge"
            class="btn btn-primary px-2 py-1 cardButton"
            >View Details</a
          >
        </div>
      </div>
    </div>
    <div *ngIf="!isLoading && !errorMessage && !this.guestHouses?.length">
      <h6 class="text-center">
        No search results. If you want to see all guest houses click
        <a routerLink="/client/guestHousesCards">here</a>
      </h6>
    </div>
  </div>
</div>
